.right_main
  .right_main_nation
    リ
  .right_main_loc
    540
  .right_main_name
    a
  .right_main_atr
    斬
  .right_main_skill
    全体変則
  .ability
    .ability-box
      .ability-box_1
        ｸﾘ
      .ability-box_2
        光
      .ability-box_3
        反撃/防御力の
      .ability-box_4
        30*5.3
    .ability-box
      .ability-box_1
        技
      .ability-box_2
        MAP
      .ability-box_3
        攻撃に防御力を追加
      .ability-box_4
        砲撃+1