.left
  %input.color{:type => "checkbox",:checked => "checked"}>
  .left_reset
    %input.submit-reset{:type => "button", :value => " 表示リセット "}
  .left_name
    ① キャラ名で検索
    %input#form.form{:placeholder => "ここにキャラ名を入力", :type => "text"}/
  .left_atr
    ② 属性で検索
    .left_atr_check
    %input.submit1{:type => "button", :value => " 斬 "}
    %input.submit2{:type => "button", :value => " 打 "}
    %input.submit3{:type => "button", :value => " 突 "}
    %input.submit4{:type => "button", :value => " 魔 "}
  .left_atr_check
  .left_ability
    ③ アビリティ検索
    %br
    ・属性付与
    .left_ability_box
      %input.a-submit-z1{:type => "button", :value => " 斬付与 "}>/ 
      %input.a-submit-z2{:type => "button", :value => " 打付与 "}>/
      %br
      %input.a-submit-z3{:type => "button", :value => " 突付与 "}>/
      %input.a-submit-z4{:type => "button", :value => " 魔付与 "}>/
      %br
      %input.a-submit-z5{:type => "button", :value => " 属性付与 "}>/
    .left_ability_box
      ・クリティカル系
      %br
      %input.a-submit-cri1{:type => "button", :value => " クリティカル関連 "}>/
      %br
      %input.a-submit-cri2{:type => "button", :value => " 全員の発動率20%〜 "}>/
      %input.a-submit-cri3{:type => "button", :value => " 全員の発動率30%〜 "}>/
      %br
      %input.a-submit-cri4{:type => "button", :value => " 1T目クリティカル確定 "}>/
    .left_ability_box
      ・スキル発動率系
      %br
      %input.a-submit-s1{:type => "button", :value => " 1.2倍 "}>/
      %input.a-submit-s2{:type => "button", :value => " 1.28~1.36倍 "}>/
      %br
      %input.a-submit-s3{:type => "button", :value => " 1T目1.65倍 "}>/
      %br
      %input.a-submit-s5{:type => "button", :value => " 1T目自身の発動率2倍 "}>/
      %br
      %input.a-submit-s4{:type => "button", :value => " 被弾した次ターン2倍 "}>/
    .left_ability_box
      ・防御/反撃系
      %br
      %input.a-submit-d1{:type => "button", :value => " 防御力上昇/軽減 "}>/
      %br
      %input.a-submit-d2{:type => "button", :value => " 全員の防御30%以上 "}>/
      %br
      %input.a-submit-d3{:type => "button", :value => " 反撃 "}>/
      %input.a-submit-d4{:type => "button", :value => " 超反撃 "}>/





    -# %select.sele
    -#   %option{:value => "0"} 指定なし
    -#   %option{:value => "1"} スキル発動1.2倍
    -#   %option{:value => "2"} スキル発動1.36倍
    -#   %option{:value => "3"} 1ターン目1.65倍
    -#   %option{:value => "4"} 斬属性付与
    -#   %option{:value => "5"} 打属性付与
    -#   %option{:value => "6"} 突属性付与
    -#   %option{:value => "7"} 魔属性付与
    -#   %option{:value => "8"} ソーラー威力+70%
    -#   %option{:value => "9"} 光ゲージ増加
    -#   %option{:value => "10"} 攻撃力上昇
    -#   %option{:value => "11"} 防御 軽減 耐久
    -#   %option{:value => "12"} クリ発動率UP
    -#   %option{:value => "13"} クリダメUP
    -#   %option{:value => "14"} 与ダメ乗算バフ
    -#   %option{:value => "15"} 移動力上昇
    -#   %option{:value => "16"} 再行動
    -#   %option{:value => "17"} 全体バリア
    -#   %option{:value => "18"} 単体3回バリア
    -#   %option{:value => "19"} 反撃(超反撃)
    -#   %option{:value => "20"} 敵の攻撃力低下
    -#   %option{:value => "21"} 敵のスキル発動率低下
    -#   %option{:value => "22"} 敵が攻撃ミス
