.right
  .right_column
    .right_column_nation
      国家
    .right_column_loc
      移動
    .right_column_name
      キャラクター名
    .right_column_atr
      属性
    .right_column_skill
      スキル
    .right_column_abitype
      分類
    .right_column_tar
      対象
    .right_column_effect
      アビリティ
    .right_column_ev
      効果値
  .right_main
    .right_main_nation
      リ
    .right_main_loc
      540
    .right_main_name
      エノテラ
    .right_main_atr
      斬
    .right_main_skill
      全体変則
    .ability
      .ability-box
        .ability-box_1
          攻
        .ability-box_2
          全体
        .ability-box_3
          攻撃力上昇
        .ability-box_4
          22%
      .ability-box
        .ability-box_1
          技
        .ability-box_2
          全体
        .ability-box_3
          1T目スキル発動
        .ability-box_4
          1.65倍
  .right_main
    .right_main_nation
      リ
    .right_main_loc
      550
    .right_main_name
      コデマリ(イースター)
    .right_main_atr
      突
    .right_main_skill
      全体変則
    .ability
      .ability-box
        .ability-box_1
          攻
        .ability-box_2
          全体
        .ability-box_3
          攻撃力上昇
        .ability-box_4
          25%
      .ability-box
        .ability-box_1
          威
        .ability-box_2
          全体
        .ability-box_3
          スキルダメージ上昇
        .ability-box_4
          15%