.wrapper
  .header
    .header_title
      FLOWER KNIGHT GIRL つーる
    .header_menu
      %ul
        = link_to '花騎士検索', root_path, class:"menu"
        %a.menu(href="#") 準備中
        %a.menu(href="#") 準備中
  .contents
    = render "left"
    = render "right"