.wrapper
  .header
    .header_title
      FLOWER KNIGHT GIRL つーる
    .header_menu
      %ul
        %a.menu(href="#") 花騎士検索
        %a.menu(href="#") 準備中
        %a.menu(href="#") 準備中
  .contents
    = render "left"
    = render "right"