* {
  box-sizing: border-box;
}

.header{
  background-color: #208fce;
  position: fixed;
  z-index: 1;
  width:100%;
  border-bottom: 1px solid black;
  &_title{
    height:  60px;
    width :1250px;
    background-color: #1075af;
    line-height: 60px;
    font-size: 32px;
    padding-left: 20px;
    margin: 0 auto;
  }
  &_menu{
    height:  40px;
    width :1250px;
    background-color: #1d8bca;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 40px;
    display: flex;
    .menu{
      text-decoration: none;
      background-color: #2fa4e7;
      color: black;
      padding: 5px;
      border: 1px solid;
    }
    
  }
}
// -----------------------------------
.contents{
  display: flex;
}
// -----------------------------------
.left{
  font-size: 20px;
  background-color: #bce3f9;
  width : 250px;
  height: auto;
  padding: 120px 5px 20px 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  &_reset{
    .submit-reset{
      background-color: #1e8aca;
    }
  }
  &_name{
    margin-bottom: 15px;
    .form{
      display: block;
      width :238px;
      height: 35px;
      border: 1px solid;
      padding-left: 5px;
    }
  }
  &_atr{
    margin-bottom: 15px;
    .submit1{
      background-color: $zan;
    }
    .submit2{
      background-color: $da;
    }
    .submit3{
      background-color: $totsu;
    }
    .submit4{
      background-color: $ma;
    }
  }
  &_ability{
    &_box{
      margin-bottom: 2px;
      .a-submit1{
        background-color: $zan;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit2{
        background-color: $da;
      }
      .a-submit3{
        background-color: $totsu;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit4{
        background-color: $ma;
      }
      .a-submit5{
        background-color: $cri;
        border: 1px solid #ff9a00;
      }
      .a-submit6{
        background-color: white;
        border: 1px solid black;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit7{
        background-color: white;
        border: 1px solid black;
      }
      .a-submit8{
        background-color: white;
        border: 1px solid black;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit9{
        background-color: white;
        border: 1px solid black;
      }
    }
  }
}
// -----------------------------------
.right{
  width :100%;
  border-bottom: 1px solid black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding:115px 15px 0 15px;
  // background-color: blueviolet;
  // overflow: scroll;
  &_column{
    margin : 0 auto;
    // background-color: red;
    height:50px;
    display: flex;
    border: 1px solid black;
    text-align: center;
    width:688px;
    margin-bottom: 5px;
    &_nation{
      width:23px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_loc{
      width:36px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_atr{
      width:36px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_name{
      width:210px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_skill{
      width:100px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_abitype{
      width:23px;
      border-right: 1px solid black;
    }
    &_tar{
      width:40px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_effect{
      width:150px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_ev{
      width:70px;
      line-height: 50px;
      background-color: #ffe0e0;
    }
  }
}
  // -----------------------ここから花騎士
.right2{
  width :100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 0 15px;
  // background-color: blueviolet;
  // overflow: scroll;
  &_main{
    margin : 0 auto;
    // background-color: blue;
    height:150px;
    display: flex;
    border: 1px solid black;
    text-align: center;
    width:688px;
    margin-bottom: 2px;
    background-color: #fff8f8;
    &_nation{
      width:23px;
      border-right: 1px solid black;
      line-height: 150px;
      // background-color: #fff8f8;
    }
    &_loc{
      width:36px;
      line-height: 150px;
      border-right: 1px solid black;
      background-color: white;
    }
    &_atr{
      width:36px;
      line-height: 150px;
      border-right: 1px solid black;
      border-left: 1px solid black;
      background-color: white;
    }
    &_name{
      width:210px;
      margin: auto;
      font-weight: bold;
      font-size: 20px;
      // background-color: #fff8f8;
    }
    &_skill{
      width:100px;
      margin: auto;
      // background-color: #fff8f8;
    }
  }
  .ability{
    width:283px;
    // background-color: yellow;
    border-left: 1px solid black;
    background-color: white;
    &-box{
      display: flex;
      &_1{
        width : 23px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_2{
        width : 40px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
      &_3{
        width : 150px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_4{
        width : 70px;
        height: 25px;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
      &_b1{
        width : 23px;
        height: 24px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_b2{
        width : 40px;
        height: 24px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
      &_b3{
        width : 150px;
        height: 24px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_b4{
        width : 70px;
        height: 24px;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
    }
  }
}

