* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}

.header{
  background-color: #208fce;
  position: fixed;
  z-index: 1;
  width:100%;
  border-bottom: 1px solid black;
  &_title{
    height:  60px;
    width :1250px;
    background-color: #1075af;
    line-height: 60px;
    font-size: 32px;
    padding-left: 20px;
    margin: 0 auto;
  }
  &_menu{
    height:  40px;
    width :1250px;
    background-color: #1d8bca;
    padding-left: 20px;
    margin: 0 auto;
    line-height: 40px;
    display: flex;
    .menu{
      text-decoration: none;
      background-color: #2fa4e7;
      color: black;
      padding: 5px;
      border: 1px solid;
    }
    
  }
}
// -----------------------------------
.contents{
  display: flex;
}
// -----------------------------------
.left{
  font-size: 20px;
  background-color: #bce3f9;
  width : 250px;
  height: auto;
  padding: 120px 5px 20px 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  .color{
    display: none;
  }
  &_reset{
    .submit-reset{
      width: 100%;
      background-color: #1e8aca;
    }
  }
  &_name{
    margin-bottom: 5px;
    .form{
      display: block;
      width :238px;
      height: 35px;
      border: 1px solid;
      padding-left: 5px;
    }
  }
  &_year{
    .yy{
      background-color: lightgray;
      font-size: 12px;
      margin-bottom: 5px;
      border: 1px solid gray;
    }
  }
  &_attack{
    .aa{
      font-size: 14px;
      background-color: white;
      border: 1px solid lightgray;
    }
  }
  &_atr{
    margin-bottom: 5px;
    .submit1{
      background-color: $zan;
      color: white;
    }
    .submit2{
      background-color: $da;
      color: white;
    }
    .submit3{
      background-color: $totsu;
    }
    .submit4{
      background-color: $ma;
      color: white;
    }
  }
  &_ability{
    &_box{
      margin-bottom: 2px;
      .a-submit-z1{
        background-color: $zan;
        border-radius: 2pt;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit-z2{
        background-color: $da;
      }
      .a-submit-z3{
        background-color: $totsu;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit-z4{
        background-color: $ma;
      }
      .a-submit-z5{
        background-color: lightgray;
        border: 1px solid black;
        font-size: 14px;
        margin-bottom:5px;
        margin-right :5px;
      }
      .a-submit-z6{
        background-color: lightgray;
        margin-bottom:5px;
        margin-right :5px;
        font-size: 14px;
        border: 1px solid gray;
      }
      .a-submit-z7{
        border: 1px solid gray;
        background: linear-gradient(to right,$zan,$da,$totsu,$ma);
      }
      .a-submit-cri1{
        background-color: $cri;
        border: 1px solid #ff9a00;
        margin-bottom: 5px;
      }
      .a-submit-cri2{
        background-color: $cri;
        border: 1px solid #ff9a00;
        margin-bottom: 5px;
      }
      .a-submit-cri3{
        background-color: $cri;
        border: 1px solid #ff9a00;
        margin-bottom: 5px;
      }
      .a-submit-cri4{
        background-color: $cri;
        border: 1px solid #ff9a00;
        margin-bottom: 5px;
      }
      .a-submit-s1{
        background-color: white;
        border: 1px solid black;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit-s2{
        background-color: white;
        border: 1px solid black;
      }
      .a-submit-s3{
        background-color: white;
        border: 1px solid black;
        margin-right: 5px;
        margin-bottom:5px;
      }
      .a-submit-s4{
        background-color: white;
        border: 1px solid black;
      }
      .a-submit-s5{
        background-color: white;
        border: 1px solid black;
        margin-bottom:5px;
      }
      .a-submit-d1{
        background-color: $def;
        border: 1px solid #00a513;
        margin-bottom: 5px;
      }
      .a-submit-d2{
        background-color: $def;
        border: 1px solid #00a513;
        margin-bottom: 5px;
      }
      .a-submit-d3{
        background-color: $def;
        border: 1px solid #00a513;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      .a-submit-d4{
        background-color: $def;
        border: 1px solid #00a513;
        margin-bottom: 5px;
      }
      .a-submit-d5{
        background-color: #7474ff;
        border: 1px solid #5252d8;
        margin-bottom: 5px;
      }
      .a-submit-solar1{
        background-color: #feffa9;
        border: 1px solid #e4e640;
        margin-bottom: 5px;
      }
      .a-submit-solar2{
        background-color: #feffa9;
        border: 1px solid #e4e640;
      }
      .a-submit-debuff1{
        background-color: #6861a2;
        margin-bottom: 5px;
        color: white;
      }
      .a-submit-debuff2{
        background-color: #6861a2;
        margin-bottom: 5px;
        color: white;
      }
      .a-submit-debuff3{
        background-color: #6861a2;
        margin-bottom: 5px;
        color: white;
      }
    }
  }
}
// -----------------------------------
.right{
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding:115px 15px 0 15px;
  // background-color: blueviolet;
  // overflow: scroll;
  &_column{
    margin : 0 auto;
    // background-color: red;
    height:50px;
    display: flex;
    border: 2px solid black;
    text-align: center;
    width:688px;
    margin-bottom: 5px;
    &_nation{
      width:23px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_loc{
      width:36px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_atr{
      width:36px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_name{
      width:210px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_skill{
      width:100px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_abitype{
      width:23px;
      border-right: 1px solid black;
    }
    &_tar{
      width:40px;
      line-height: 50px;
      border-right: 1px solid black;
      background-color: #ffe0e0;
    }
    &_effect{
      width:150px;
      line-height: 50px;
      border-right: 1px solid black;
    }
    &_ev{
      width:70px;
      line-height: 50px;
      background-color: #ffe0e0;
    }
  }
}
  // -----------------------ここから花騎士
.right2{
  width :100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 0 15px;
  &_main{
    margin : 0 auto;
    height:150px;
    display: flex;
    line-height: 24px;
    border: 2px solid black;
    text-align: center;
    width:688px;
    margin-bottom: 4px;
    background-color: #fff8f8;
    &_nation{
      width:23px;
      border-right: 1px solid black;
      line-height: 150px;
    }
    &_loc{
      width:36px;
      line-height: 150px;
      border-right: 1px solid black;
      background-color: white;
    }
    &_atr{
      width:36px;
      line-height: 150px;
      font-size: 22px;
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
    &_name{
      width:210px;
      margin: auto;
      font-weight: bold;
      font-size: 20px;
    }
    &_skill{
      width:100px;
      margin: auto;
    }
  }
  .ability{
    width:283px;
    // background-color: yellow;
    border-left: 1px solid black;
    background-color: white;
    &-box{
      display: flex;
      &_1{
        width : 23px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_2{
        width : 40px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
      &_3{
        width : 150px;
        height: 25px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_4{
        width : 70px;
        height: 25px;
        border-bottom: 1px solid black;
        background-color: #fff8f8;
      }
      &_b1{
        width : 23px;
        height: 23px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
      &_b2{
        width : 40px;
        height: 23px;
        border-right: 1px solid black;
        border-bottom: 2px solid black;
        background-color: #fff8f8;
      }
      &_b3{
        width : 150px;
        height: 23px;
        border-right: 1px solid black;
      }
      &_b4{
        width : 70px;
        height: 23px;
        border-bottom: 2px solid black;
        background-color: #fff8f8;
      }
    }
  }
}

